@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {

    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {

    padding: 2% 0 0 15%;
   
}

.cabecalho__menu {

    display: flex;
    align-items: center;
    gap: 5rem;
    
}

.cabecalho__menu__link:hover {

    color: darkgray;
    
}

.cabecalho__menu__link {

    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}

.Destaque {

    color: var(--cor-terciaria);
}

.apresentacao {

    display: flex;
    align-items: center;
    padding: 8% 15%;
    justify-content: space-between;
    gap: 82px;

}

.apresentacao__conteudo {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
}

.apresentacao__conteudo__titulo {

    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;

}

.apresentacao__conteudo__titulo__paragrafo {
    
    font-size: 1.65rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  
}

.apresentacao__links__subtitulo{

    font-size: 1.65rem;
    font-family: var(--fonte-principal);
    font-weight: 400;

}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    border-radius: 0.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.65rem;
    font-weight: 600;
    text-align: center;
    padding: 1.35rem 0;
    text-decoration: none;
    border: 0.125rem solid var(--cor-terciaria) ;
    
}

.apresentacao__links__botao:hover {

    background: #272727;   

}

.rodape {

    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.65rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.12rem;   
    font-weight: 400;
}

.apresentacao__imagem{

    width: 40%;
}

@media ( max-width: 1200px) {

    .cabecalho {

        padding: 8%;
    }

    .cabecalho__menu {

        justify-content: center;
    }

    .apresentacao{

        padding: 5%;
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {

        width: auto;
    }
}